.Weather {
  background: rgba(255, 255, 255, 0.7);
  color: rgb(18, 39, 67);
  margin: 20px;
  padding: 6px;
  max-width: 600px;
  border: solid rgba(0, 0, 0, 0.1) 1px;
  border-radius: 10px;
  box-shadow: -1px 3px 12px 3px rgba(0, 0, 0, 0.1);
}
form {
  margin-top: 8px;
}

ul {
  list-style-type: none;
  padding-left: 0px;
}
.btn {
  margin-top: 6px;
  margin-right: 4px;
  background-color: #355c6f;
  border: #355c6f;
}

.btn:hover {
  background-color: #407088;
}
